body {
    margin: 0;
    background: #121212;
    color: #f1f1f1;
}

.container {
    width: min(900px, 92vw);
    margin: 0 auto;
    padding: 20px 0 60px;
}

.header,
.section,
.box {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1,
.section h2,
.box h3 {
    margin: 0 0 14px;
}

p {
    margin: 0 0 14px;
    color: #ddd;
}

ul {
    padding-left: 18px;
}

li {
    margin-bottom: 8px;
}

.box {
    background: #262626;
}

.fade {
    opacity: 0;
    transition: all 0.7s ease, transform 0.8s ease;
}

.fade.visible {
    opacity: 1;
}

.section.fade.visible:hover, .section.visible:hover {
    transform: scale(1.1), translateY(5);
    background-color: #393939;
}

.fade.from-bottom {
    transform: translateY(40px);
}

.fade.from-bottom.visible {
    transform: translateY(0);
}

.fade.from-left {
    transform: translateX(40px);
}

.fade.from-left.visible {
    transform: translateX(0);
}

.fade.from-top {
    transform: translateY(-40px);
}

.fade.from-top.visible {
    transform: translateY(0);
}

.fade.from-right {
    transform: translateX(-40px);
}

.fade.from-right.visible {
    transform: translateX(0);
}